.v-toolbar__title {
  overflow: visible !important;
  text-align: center;
}

.v-app-bar__nav-icon {
  //@include display_pc {
    display: none !important;
  }


.v-tabs {
  display: none;
  //@include display_pc {
    display: block !important;
  }

